:root {
    --color-primary: #d33;         
    --color-primary-dark: #b72b2b;
    --color-secondary: #6c757d;    
    --color-bg: #ffffff;
    --color-text: #222222;
    --color-muted: #777777;
    --color-border: #dddddd;
}
.Principal h1,
.Principal h2 {
    color: var(--color-text) !important;
    margin-top: 0;
    margin-bottom: 0.5rem;
}

body {
    font-family: "Inter", Arial, sans-serif;
    color: var(--color-text);
    background-color: var(--color-primary-dark);
    line-height: 1.5;
}

h1, h2, h3 {
    font-weight: 700;
    color: var(--color-text);
}
h4, h5, h6 {
    font-weight: 700;
    color: var(--color-bg);
}

a {
    text-decoration: none;
    color: var(--color-text);
}

.latido {
    animation: latidoAnim 1.5s infinite;
}

@keyframes latidoAnim {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
}

.altura-uniforme {
    height: 50px;
}
.logo {
    height: 50px; 
    width: auto; 
}


.video {
    position: fixed;      /* IMPORTANTE: para que no deje espacios */
    top: 0;
    left: 0;
    width: 100vw;         /* 100% del ancho real de la pantalla */
    height: 100vh;        /* 100% de la altura real de la pantalla */
    overflow: hidden;
    z-index: -1;
}

.video video {
    width: 100%;
    height: 100%;
    object-fit: cover;  
}


.texto-centro {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: var(--color-bg);
    font-size: 4rem;
}
.texto-video {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white !important;         
    font-size: 4rem;      
    font-weight: bold;
    text-align: center;
    z-index: 2;          
}



a:hover {
    color: var(--color-primary);
}

.btn-danger {
    background-color: var(--color-primary) !important;
    border-color: var(--color-primary) !important;
}

.btn-danger:hover {
    background-color: var(--color-primary-dark) !important;
}

.dropdown-toggle {
    border-radius: 6px !important;
}

.product-card {
    border-radius: 10px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.product-card:hover {
    transform: translateY(-4px);
    box-shadow: 0px 4px 10px rgba(0,0,0,0.15);
}

#carouselScroll::-webkit-scrollbar {
    height: 6px;
}

#carouselScroll::-webkit-scrollbar-thumb {
    background: var(--color-primary);
    border-radius: 20px;
}


.img-box {
    width: 100%;
    height: 350px;            
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;       
} 
.prodP-transparente {
    background: rgba(255, 255, 255, 0.6);
    padding: 20px;
    border-radius: 15px;
    backdrop-filter: blur(5px);  /* efecto glass */
}  